input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  @apply w-[15px] h-[15px] rounded border-indigo-500 border-[1px] mr-1 bg-transparent relative top-[1px];
}

input[type='radio']:checked::before {
  content: '';
  animation: appear 0.4s;
  @apply block w-[10px] h-[10px] bg-indigo-400 rounded-sm absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.submitIcon {
    @apply inline-block text-indigo-400 text-[22px]
}

@keyframes appear {
  0% {
    transform: translate(-50%, -50%) scale(0);
    @apply bg-indigo-700;
  }
  45% {
    transform: translate(-50%, -50%) scale(1.4);
    @apply bg-indigo-500;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    @apply bg-indigo-300;
  }
  55% {
    transform: translate(-50%, -50%) scale(1.4);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    @apply bg-indigo-400;
  }
}
